 <?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <!-- Use iisnode to run the Node.js server if needed -->
            <add name="iisnode" path="server.js" verb="*" modules="iisnode"/>
        </handlers>
        
        <rewrite>
            <rules>
                <!-- Rule to handle static files -->
                <rule name="StaticContent" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="false"/>
                    </conditions>
                    <action type="None" />
                </rule>

                <!-- Rule to redirect all other requests to index.html -->
                <rule name="SPA" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
                    </conditions>
                    <action type="Rewrite" url="index.html"/>
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>